body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:#333;
}
a{
    text-decoration:none;   
    color:#333;
}
.counter-div{
    font-size:5rem;
    text-align:center;   
    color:#333;
}
.explore-more-link{
     font-size: 18px;
     color: #333;
     border: 2px solid;
     border-radius: 7px;
     padding: 5px;
}
a:hover{
    color:#3bb8cc;
}
.counter-div p{
    font-size:3rem;
}
.counter-div hr{
    width:60%;
}
.counter-div-timer{
}

ul{
    display:inline-flex;
    padding:0px;
}
ul li{
    list-style:none;   
    padding:5px;
}
.counter-tip{
    font-size:1rem;    
}
.nav-list{
    font-size:20px;   
    width: 100%;
    background-color: #ffffff52;
    margin-top: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    line-height: 60px;
}
/*Note page*/
.note-list{
    display: block;
    margin: 0px 10% 0 10%;
}
.note-list li{
    border: 1px solid #33333347;
    height: 6rem;
    margin-bottom: 1rem;
}
/*page split*/
.page-split{
    margin: 0px 10%;
    width: 80%;
    margin-bottom: 3rem;
}

